@page "/Chat"

@using Microsoft.AspNetCore.SignalR.Client; 
@using ChatApp.Hubs; 

@implements IDisposable

@inject NavigationManager _navigationManager; 
<h1>Chat</h1>
<!--Display Messages Here--> 
<div>
    @foreach (var message in messages)
    {
        <div>
            <p>
            @message.messageText
            </p>
        </div>
    }
</div> 
<!--Chat Box-->
<div>
    <div class="panel-footer">
        <div class="input-group" id="myForm">
            <input id="textMessageInput" @bind="messageText" type="text" class="form-control input-sm chat_input" placeholder="Write your message here...">
        <button class="btn btn-primary" @onclick="Send">Send</button>
        </div>
    </div>
</div>

@code{ 
        private HubConnection hubConnection; 
        private List<Message> messages = new List<Message>(); 
        private List<string> usernames = new List<string>(); 
        private string messageText{get; set;}

        async protected override Task OnInitializedAsync()
        {
            var baseURL = _navigationManager.BaseUri.Trim('/'); 

            var connectionURL = baseURL + ChatHub.hubPath; 
            hubConnection = new HubConnectionBuilder().WithUrl(connectionURL).Build(); 
            hubConnection.On<Message>("ReceiveMessage", (message)=>
                {
                    messages.Add(message); 
                    StateHasChanged(); 
                }); 
            await hubConnection.StartAsync(); 
        }

        public async Task CloseHubConnection(){
            await hubConnection.StopAsync(); 
            await hubConnection.DisposeAsync(); 
            hubConnection = null; 
        }

        public void Dispose(){
            CloseHubConnection(); 
        }

        public void onReceiveMessage(Message message){
            messages.Add(message);
            StateHasChanged(); 
        }

        public async Task Send(){
            var baseURL = _navigationManager.BaseUri.Trim('/'); 
            var connectionURL = baseURL + ChatHub.sendPath;
            Message message = new Message(); 
            message.messageText = messageText; 

            await hubConnection.SendAsync("SendMessage", message); 
        }
}

