@using Microsoft.AspNetCore.Http; 
@using ChatApp.Repositories; 
@using ChatApp.Components; 

@inject IHttpContextAccessor httpContextAccessor; 
@inject UserRepository userRepository; 
@inherits LayoutComponentBase; 


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="content px-4">
            @if(isLoggedIn()){
                @Body
            }
            else{
                <Login/> 
            }
        </div>
    </div>
</div>

@code{
        protected override void OnAfterRender(bool firstRender)
        {
            if(firstRender == true){
                UserRepository.Change += refresh; 
            }
            base.OnAfterRender(firstRender);
        }
    
    private async void refresh(object caller, EventArgs args){
        await InvokeAsync(() =>{
            StateHasChanged(); 
        } ); 
    }

    private bool isLoggedIn(){
        return userRepository.Read(getIPAdress()) != null;
    }
        //Put into seperate Class *possibly*
        private string getIPAdress(){
        var remoteIpAddress = httpContextAccessor.HttpContext.Connection?.RemoteIpAddress;
        if(remoteIpAddress?.IsIPv4MappedToIPv6 == true){
            return remoteIpAddress.MapToIPv4().ToString(); 
        }

        return remoteIpAddress?.ToString(); 
    }
}

#pragma warning restore 1998
#nullable restore
#line 31 "c:/Users/Rimme/projects/ComputerNetworks/ComputerNetworksProject/ChatApp/Shared/MainLayout.razor"

