@using Microsoft.AspNetCore.Http; 
@using ChatApp.Repositories; 
@using ChatApp.LogicComponents

@inject IHttpContextAccessor httpContextAccessor; 
@inject UserRepository userRepository; 
@inherits LayoutComponentBase; 


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="content px-4">
            @if (isLoggedIn())
            {
                @Body
            }
            else
            {
                <Login/>
            }
        </div>
    </div>
</div>

@code{
    protected override void OnAfterRender(bool firstRender)
    {
        if(firstRender == true){
            UserRepository.Change += refresh; 
        }
        base.OnAfterRender(firstRender);
    }
    
    private async void refresh(object caller, EventArgs args){
        await InvokeAsync(() =>{
            StateHasChanged(); 
        } ); 
    }

    private bool isLoggedIn()
    {
        var ipAddress = UserManager.getIPAdress(httpContextAccessor);
        return userRepository.Read(ipAddress) != null;
    }
}
